<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.neonkid.simplememoj">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name=".SimpleMemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">

        <provider
            android:authorities="xyz.neonkid.simplememoj.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

        <activity
            android:name=".main.view.MainActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".main.view.Memo.MemoActivity" />

        <activity
            android:name=".main.view.MemoEdit.MemoEditActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.EditScreen"
            android:launchMode="singleTop" />

        <activity
            android:name=".main.view.MemoEdit.ImageEditActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen"
            android:launchMode="singleTop" />

        <activity
            android:name=".main.view.Memo.ImageActivity"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".main.view.Error.ErrorActivity" />
    </application>

</manifest>
